* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    color: white;
    background: #8C7C68;
}

.pag-inicial {
    color: white;
    text-align: center;
    margin: 4% 5% 5% 5%;
}

.foto-rosto {
    margin: 0 5% 1% 5%;
    width: 50%;
    float: left;
    border-radius: 100%;
    box-shadow: 0 10px 10px 0 black;
    max-width: 780px;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(4%);
    }

    50% {
        transform: translatey(0px);
    }

    100% {
        transform: translatey(4%);
    }
}

.inicio {
    text-align: center;
    font-size: 17px;
    margin: 0 3% 0 3%;
    padding: 15% 0 5% 0;
}

.frase {
    text-align: center;
    font-size: 23px;
    padding: 3%;
}

.subtexto {
    font-size: 15px;
}





.pais {
    margin: 4% 0 0 0;
    background: linear-gradient(#8C7C68, #BFB6AE, #8C7C68);
}

.maps {
    float: left;
    top: 10%;
    margin: 0 0 0 6%;
    border-radius: 15px;
    width: 40%;
}

.onde-nasci {
    position: absolute;
    top: 70%;
    margin: 0 0 0 8%;
    width: 20%;
    padding: 2%;
    border-radius: 10%;
    background-color: #593825;
    color: black;
    text-align: center;
    font-size: 80%;
}

.foto-1 {
    width: 40%;
    padding: 2% 0 0 7%;
}

.foto-2 {
    position: absolute;
    left: 40%;
    top: 60%;
    width: 30%;
}








.fotos {
    display: grid;
    grid-template-columns: 1% 33% 33% 33%;
    background-color: #1F1100;
    border-radius: 30px;
    margin: 20px;
    padding: 5%;
}

.polaroid {
    width: 80%;
    border-bottom: 30px solid white;
    border-left: 12px solid white;
    border-right: 12px solid white;
    border-top: 10px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
}

.container2 {
    padding: 5%;
    text-align: center;
}








footer {
    padding: 4%;
    background: #000;
    color: white;
    text-align: center;
}

h1 {
    margin: 3%;
}

h3 {
    margin: 1%;
}

.link {
    border-radius: 10px;
    background-color: #413121;
    padding: 1%;
    font-size: 30px;
}

footer a {
    color: rgb(191, 190, 190);
}

footer a :hover {
    margin-left: 40px;
    opacity: 1;
}




@media (min-width: 600px) {
    .foto-rosto {
        margin: 0;
        width: 40%;
    }

    .inicio {
        font-size: 180%;
        padding: 5% 0 0 5%;
    }

    .frase {
        font-size: 240%;
    }

    .subtexto {
        font-size: 120%;
    }






    .pais {
        margin: 14% 0 0 0;
    }

    .maps {
        width: 400px;
        left: 0;
        margin: 14% 0 0 5%;
    }

    .foto-1 {
        left: 0;
        margin: 0 0 0 10%;
    }

    .foto-2 {
        top: 135%;
    }

    .onde-nasci {
        top: 160%;
        font-size: 150%;
    }





    .fotos {
        padding: 3%;
        grid-template-columns: 4% 32% 32% 32%;
        margin: 30px;
    }






    h1,
    h2 {
        margin: 0;
    }

    .rodape {
        padding: 3%;
    }

    footer a :hover {
        margin-left: 40px;
        opacity: 1;
    }


}