
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
}

body {
    height: 100vh;
    color: white;
    background: #8C7C68;
}






header {
    margin: 0;
}

.cabecalho {
    position: relative;
    z-index: 5;
}

.lista-menu__titulo {
    color: #D9B9A7;
    font-size: 24px;
}

.lista-menu__item a {
    color: #A69580;
    font-size: 20px;
    text-transform: uppercase;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.cabecalho__menu-hamburguer {
    display: inline-block;
}

.icon {
    width: 30px;
    padding: 0.5em;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    background-color: #402E1E;
}

.lista-menu {
    position: fixed;
    align-items: center;
    text-align: center;
    display: none;
    margin: -5% 0;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em 2em;
    background-color: #402E1E;
}




.principal {
    margin: -8% 0;
    height: 50vh;
    align-items: center;   
    text-align: center; 
}

.foto-rosto {
    width: 90%;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(4%);
    }

    50% {
        transform: translatey(0px);
    }

    100% {
        transform: translatey(4%);
    }
}

.container {
    display: grid;
    grid-template-columns: 60% 38%;
    color: white;
}

h2 {
    font-size: 17px;

}

.frase {
    font-size: 23px;
    padding: 3%;
}

.subtexto {
    font-size: 15px;
}





.pais {
    margin: 4% 0 0 0;
    background: linear-gradient(#8C7C68, #BFB6AE, #8C7C68);
}

.maps {
    float: left;
    top: 10%;
    margin: 0 0 0 6%;
    border-radius: 15px;
    width: 40%;
}

.onde-nasci {
    position: absolute;
    top: 82%;
    margin: 0 0 0 8%;
    width: 30%;
    padding: 2%;
    border-radius: 10%;
    background-color: #593825;
    color: white;
    text-align: center;
    font-size: 80%;
}

.foto-1 {
    width: 40%;
    padding: 2% 0 0 7%;
}

.foto-2 {
    position: absolute;
    left: 40%;
    top: 55%;
    width: 30%;
}









.swiper-slide img {
    width: 100%;
    margin: 1em 0;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1.7em 0 0.3em 0;
}




.container-caixa {
    margin: 10%;
    text-align: center;
    align-items: center;

}

.container-texto {
    border-radius: 30px 100px 30px 100px;
    background-color: #000;
    color: white;
    padding: 5% 10%;
    font-size: 1em;
}







footer {
    padding: 4%;
    background: #000;
    color: white;
    text-align: center;
}

h1 {
    margin: 3%;
}

h3 {
    margin: 1%;
}

.link {
    border-radius: 5px;
    background-color: #413121;
    padding: 1%;
    font-size: 20px;
    cursor: pointer;
    transition: 1s all;
}

footer a {
    color: rgb(191, 190, 190);
}

footer a :hover {
    margin-left: 40px;
    opacity: 1;
}




@media (min-width: 600px) {
    .foto-rosto {
        width: 80%;
        float: left;
    }

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        color: white;
    }

    .inicio {
        font-size: 2em;
    }

    .frase {
        font-size: 4em;
    }

    .subtexto {
        font-size: 1em;
    }






    .pais {
        margin: 14% 0 0 0;
    }

    .maps {
        width: 400px;
        left: 0;
        margin: 14% 0 0 5%;
    }

    .foto-1 {
        left: 0;
        margin: 0 0 0 10%;
    }

    .onde-nasci {
        top: 140%;
        font-size: 150%;
    }






    .container-texto {
        font-size: 2em;
    }





    h1,
    h2 {
        margin: 0;
    }

    .rodape {
        padding: 3%;
    }

    footer a :hover {
        margin-left: 40px;
        opacity: 1;
    }

    .lista-menu {
        margin: -2% 0 0 0;
    }

}